@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --red: rgb(173, 48, 48);
    --grey: #414141;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    background: white;
}

section {
    padding: 50px 0 0;
    text-align: center;
    background: white;
}

ul {
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}

hr {
    border: 1px solid var(--grey);
    margin: 30px 25%;
}

.nav-logo {
    padding: 10px;
    display: flex;
    align-items: center;
}

.nav-bar {
    position: fixed;
    background: transparent;
    transition: background 0.3s;
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    z-index: 5;
    font-size: 18px;
}

.container {
    width: 90%;
    display: inherit;
    max-width: 1200px;
    justify-content: inherit;
    margin: 0 auto;
    padding: 10px 20px;
}


.nav-menu {
    display: none;
    align-items: center;
    font-size: 25px;
    color: #f5f5f5;
}

.ul-links {
    align-items: center;
}

.ul-links li {
    display: inline;
    padding: 10px;
}

.container a {
    color: #f5f5f5;
}

.nav-bar a:hover {
    transition: 0.2s;
    color: var(--red);
}

.nav-title::before {
    content: "<";
    color: var(--red);
}

.nav-title::after {
    content: "/>";
    color: var(--red)
}

.nav-title {
    font-size: 24px;
}

/* .active a {
    color: var(--red);
    transition: 0.5s;
} */

.inicio {
    min-height: 100vh;
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    position: relative;
}

.inicio-bg {
    background-color: #8e8e8e;
    background-image: url(./Assets/bg2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.inicio-perfil {
    height: 500px;
    border-radius: 15%;
    margin-right: 40px;
    transition: filter 3s;
}

.inicio-titulo {
    font-size: 60px;
    text-shadow: 1px 1px black;
    color: var(--red);
    margin-bottom: 30px;
}

.inicio-titulo-secundario {
    font-size: 45px;
    color: #f5f5f5;
    text-shadow: 1px 1px black;
}

.inicio-contacto-item i,
.inicio-contacto-item p {
    color: #f5f5f5;
    padding: 5px;
    transition: all 0.3s;
}

.seccion-titulo {
    color: var(--grey);
    font-size: 35px;
    margin-bottom: 30px;
}

.seccion-subtitulo {
    color: var(--grey);
    text-align: start;
    margin-bottom: 20px;
}



.sobremi-descripcion {
    text-align: left;
    color: var(--grey);
    line-height: 40px;
}

.download-cv {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 30px 0;
}

.button-cv {
    background: var(--red);
    color: #f5f5f5;
    padding: 15px 5em;
    font: bold;
    border-radius: 5px;
}

.button-cv:hover {
    background-color: rgb(101, 29, 29);
}


.habilidad-titulo {
    color: var(--grey);
    text-align: left;
    margin-bottom: 20px;
}

.habilidad-habilidades {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 50px auto;
    gap: 30px;
}

.habilidad-item {
    display: flex;
    justify-content: center;
    gap: 10%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

/* PORTFOLIO */

.portfolio-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.portfolio-item {
    position: relative;
    overflow: hidden;
    background-color: rgb(41, 41, 41);
    border-radius: 5%;
    transition: transform 0.3s;
    width: 40%;
    height: 20%;
    margin: 20px;

    & img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
    }

    & *:hover {
        transition: 0.3s;
        transform: scale(1.03);

        & img {
            opacity: 0.5;
            transition: 0s;
        }
    }
}


/* 
.portfolio-item:hover img{
  opacity: 0.2;
}

.portfolio-item::before {
    content:attr(alt);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: var(--grey);
    font-size: 50px;
    opacity: 0;
}

.portfolio-item:hover:before{
    animation: showText 0.5s forwards;
} */


/* CONTACTO */

.contacto-item i img,
.habilidad-item i img {
    max-height: 100px;
    max-width: 100px;
}

.contacto-grid,
.inicio-contacto-grid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
}

.contacto-item,
.inicio-contacto-item {
    -ms-flex: 33%;
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
    padding: 40px;
}

.contacto-item i:hover,
.inicio-contacto-grid i:hover {
    color: rgb(173, 48, 48);
}


.contacto-item i,
.contacto-item p {
    color: var(--grey);
    padding: 5px;
    transition: all 0.3s;
}

/* Pie de página */

footer {
    background-color: #222;
    color: #fff;
    padding: 10px;
    text-align: center;
}

footer p {
    font-size: 1.2em;
    margin: 0;
}


@media screen and (max-width: 991px) {
    .nav-menu {
        display: flex;
    }

    .ul-links {
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.9);
        font-size: 40px;
        z-index: 1;
        transform: translateX(100%);
        opacity: 0;
        transition: all 0.5s;
        display: flex;
        justify-content: space-around;
        padding-bottom: 50vh;
    }

    .visible {
        display: flex;
        transform: translateX(0);
        opacity: 1;
        transition: all 0.5s;
    }

    .inicio {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .inicio-perfil {
        margin-right: 0px;
        height: 0 auto;
        margin-top: -40px;
        margin-bottom: 20px;
        height: 300px;
    }

    .inicio-titulo {
        font-size: 40px;
        margin-bottom: 10px;
    }

    .inicio-titulo-secundario {
        font-size: 30px;
    }

    .nav-title {
        font-size: 20px;
    }

    .sobremi-grid {
        display: block;
    }

    .sobremi-habilidades {
        display: grid;
        margin: 30px auto;
        grid-gap: 20px;
    }

    .contacto-item {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }

    .portfolio-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:600px) {
    .contacto-item {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }

    .habilidad-item {
        flex-wrap: wrap;
    }

    .download-cv {
        flex-wrap: wrap;
    }

    .portfolio-grid {
        grid-template-columns: 1fr;
    }
}


@keyframes showText {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}